.tools {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.tools__wrapper {
  margin: auto 0;
}

.pen-size__item {
  display: block;
  height: 20px;
  width: 20px;

  margin-right: 2px;
  border: 2px solid #444444;

  cursor: pointer;
  position: relative;
}

.pen-size__item:hover {
  border-color: #888888;
}

.pen-size__item::before {
  content: '';
  background-color: white;
  display: block;

  position: absolute;
}

.pen-size__item[data-size='1']::before {
  width: 6px;
  height: 6px;

  left: 5px;
  top: 5px;
}

.pen-size__item[data-size='2']::before {
  width: 8px;
  height: 8px;

  left: 4px;
  top: 4px;
}

.pen-size__item[data-size='3']::before {
  width: 10px;
  height: 10px;

  left: 3px;
  top: 3px;
}

.pen-size__item[data-size='4']::before {
  width: 12px;
  height: 12px;

  left: 2px;
  top: 2px;
}

.pen-size__list,
.tools__list {
  display: flex;

  margin: 0;
  padding: 5px;
  list-style: none;
}

.pen-size__list {
  position: relative;
}

.tools__item {
  display: block;
  height: 46px;
  width: 46px;

  background-color: #444444;

  margin: 1px;
  cursor: pointer;
  position: relative;

  background-image: url('../../images/icons.png');
  background-size: 320px 274px;
  background-repeat: no-repeat;
}

.tools__tip,
.color__tip,
.swap-colors__tip,
.pen-size__tip {
  color: #ffffff;
  font-size: 11px;
  line-height: 1.1;

  background-color: #000000;

  display: none;
  position: absolute;

  left: 55px;
  top: 10px;
  z-index: 2;

  padding: 7px;
  white-space: nowrap;
  border-radius: 3px;
}

.swap-colors__tip {
  left: 27px;
  top: -4px;
  z-index: 5;
}

.pen-size__tip {
  left: 0;
  top: -50px;

  width: 100px;
  white-space: normal;
  text-align: center;
  line-height: 1.5;
}

.tools__item:hover {
  background-color: #555555;
}

.tools__item:hover > .tools__tip,
.palette__item:hover > .color__tip,
.swap-colors:hover > .swap-colors__tip,
.pen-size__list:hover > .pen-size__tip {
  display: inline-block;
}

.tools__list {
  padding: 0;

  flex-wrap: wrap;
  width: 100px;
}

.tools__shortcut,
.swap-colors__shortcut {
  color: #FFD705;
}

.tools__tip::before,
.color__tip::before,
.swap-colors__tip::before {
  content: '';
  position: absolute;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7px 6.5px 0;
  border-color: transparent #000000 transparent transparent;

  top: 7px;
  left: -5px;
}

.pen-size__tip::before {
  content: '';
  position: absolute;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6.5px 0 6.5px;
  border-color: #000000 transparent transparent transparent;

  top: 46px;
  left: 43px;
}

.color-picker {
  background-position:  100% 0%;
}

.pen-tool {
  background-position: -182px -92px;
}

.paint-bucket-tool {
  background-position: -228px -92px;
}

.eraser-tool {
  background-position: -46px -228px;
}

.stroke-tool {
  background-position: -46px -136px;
}

.rectangle-tool {
  background-position: -182px 0px;
}

.circle-tool {
  background-position: -228px -46px;
}

.move-tool {
  background-position: -184px -228px;
}

.first-color,
.second-color {
  height: 46px;
  width: 46px;

  margin: 1px;
}

input[type="color"] {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  overflow: hidden;
  border: none;

  padding: 0;
  cursor: pointer;

  height: 38px;
  width: 38px;
  margin: auto;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.input__wrapper {
  background-color: #444444;

  height: 100%;
  width: 100%;

  display: flex;
}

.input__wrapper:hover {
  background-color: #888888;
}

.palette {
  margin-top: 10px;
  margin-left: 10px;

  position: relative;
  display: flex;
}

.first-color {
  z-index: 4;
}

.second-color {
  margin-top: 25px;
  margin-left: -20px;

  z-index: 3;
}

.swap-colors {
  width: 18px;
  height: 18px;

  background-image: url('../../images/icons.png');
  background-repeat: no-repeat;
  background-size: 320px 274px;
  background-position: -274px -222px;

  cursor: pointer;

  margin-left: -70px;
  margin-top: 50px;

  opacity: 0.3;
  position: relative;
}

.swap-colors:hover {
  opacity: 1;
}

.palette__item {
  position: relative;
}

.active--tool::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid #FFD705;
  box-sizing: border-box;
  cursor: default;
}

.active--size,
.active--size:hover {
  border-color: #FFD705;
}

.active--size::before {
  background-color: #FFD705;
}
