.canvas {
  width: 100%;
  height: 100vh;

  margin-right: 12px;
  margin-left: 7px;
}

.canvas__wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 42px);

  background-color: #a0a0a0;
  box-shadow: 1px 0 1px #999999;
}

.canvas__container {
  position: relative;
  margin: auto;
}

.canvas__background {
  width: 640px;
  height: 640px;
  background: url('../../images/bg.png') repeat;
}

.canvas__main,
.canvas__drawing {
  position: absolute;
  top: 40%;
  left: 40%;
  bottom: 0;
  right: 0;

  image-rendering: pixelated;
  -webkit-transform: scale(5, 5);
  transform: scale(5, 5);
}

.canvas__main {
  z-index: 4;
}

.canvas__drawing {
  z-index: 5;
}

.cursor-pen {
  cursor: url('../../images/cursors/pen.png'), default;
}

.cursor-bucket {
  cursor: url('../../images/cursors/paint-bucket.png'), default;
}

.cursor-eraser {
  cursor: url('../../images/cursors/eraser.png'), default;
}

.cursor-stroke {
  cursor: url('../../images/cursors/stroke.png'), default;
}

.cursor-rectangle {
  cursor: url('../../images/cursors/rectangle.png'), default;
}

.cursor-circle {
  cursor: url('../../images/cursors/circle.png'), default;
}

.cursor-move {
  cursor: url('../../images/cursors/hand.png'), default;
}

.cursor-picker {
  cursor: url('../../images/cursors/dropper.png'), default;
}
