.canvas {
  width: 100%;
  height: 100vh;

  margin-right: 12px;
  margin-left: 7px;

  position: relative;
}

.canvas__wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 42px);

  background-color: #a0a0a0;
  box-shadow: 1px 0 1px #999999;
}

.canvas__container {
  position: relative;
  margin: auto;
}

.canvas__background {
  background: url('../../images/bg.png') repeat;
}

.canvas__main,
.canvas__drawing {
  --width: 32px;
  position: absolute;
  top: calc(50% - var(--width) / 2);
  left: calc(50% - var(--width) / 2);
  bottom: 0;
  right: 0;

  image-rendering: pixelated;
  -webkit-transform: scale(5, 5);
  transform: scale(5, 5);
}

.canvas__main {
  z-index: 4;
}

.canvas__drawing {
  z-index: 5;
}

.cursor-pen {
  cursor: url('../../images/cursors/pen.png'), default;
}

.cursor-bucket,
.cursor-colorSwap {
  cursor: url('../../images/cursors/paint-bucket.png'), default;
}

.cursor-eraser {
  cursor: url('../../images/cursors/eraser.png'), default;
}

.cursor-stroke {
  cursor: url('../../images/cursors/stroke.png'), default;
}

.cursor-rectangle {
  cursor: url('../../images/cursors/rectangle.png'), default;
}

.cursor-circle {
  cursor: url('../../images/cursors/circle.png'), default;
}

.cursor-move {
  cursor: url('../../images/cursors/hand.png'), default;
}

.cursor-picker {
  cursor: url('../../images/cursors/dropper.png'), default;
}

.cursor-dithering {
  cursor: url('../../images/cursors/dither.png'), default;
}

.cursor-lighten {
  cursor: url('../../images/cursors/lighten.png'), default;
}

.cursor-coordinates {
  position: absolute;
  bottom: 50px;
  right: -130px;

  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.coords,
.size,
.frame-number {
  color: #ffd700;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
  line-height: 1.1;
}

.size {
  margin-right: 5px;
}

.coords {
  width: 50px;
}
